.blogdetail_container { 
  *{
    padding: 0;
    margin: 0;
  }

  .div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  .div-2 {
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 140%;
    padding: 29px 60px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-3 {
    display: flex;
    width: 1294px;
    max-width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-3 {
      flex-wrap: wrap;
    }
  }
  .div-4 {
    letter-spacing: 1px;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 32px Playfair Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-5 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-6 {
    font-family: Roboto, sans-serif;
  }
  .div-7 {
    font-family: Roboto, sans-serif;
  }
  .div-8 {
    font-family: Roboto, sans-serif;
  }
  .div-9 {
    font-family: Roboto, sans-serif;
  }
  .div-10 {
    align-self: center;
    margin-top: 25px;
    width: 1101px;
    max-width: 100%;
  }
  .div-11 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-11 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-12 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 32px;
    color: #000;
    font-weight: 900;
    line-height: 120%;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-12 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-13 {
    font-family: Montserrat, sans-serif;
  }
  @media (max-width: 991px) {
    .div-13 {
      max-width: 100%;
    }
  }
  .img {
    aspect-ratio: 0.72;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 41px;
  }
  @media (max-width: 991px) {
    .img {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-14 {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-14 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  @media (max-width: 991px) {
    .div-15 {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .div-16 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-16 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 80%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-17 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 11px;
    color: #212529;
    font-weight: 400;
    line-height: 160%;
  }
  @media (max-width: 991px) {
    .div-17 {
      margin-top: 40px;
    }
  }
  .div-18 {
    font-family: PT Mono, sans-serif;
    letter-spacing: 1.6px;
    text-transform: uppercase;
  }
  .div-19 {
    margin-top: 11px;
    white-space: nowrap;
    font: 16px PT Mono, sans-serif;
  }
  @media (max-width: 991px) {
    .div-19 {
      white-space: initial;
    }
  }
  .div-20 {
    font-family: PT Mono, sans-serif;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-top: 34px;
  }
  .div-21 {
    margin-top: 11px;
    font: 16px PT Mono, sans-serif;
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 20%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-22 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 11px;
    color: #212529;
    font-weight: 400;
    white-space: nowrap;
    line-height: 160%;
  }
  @media (max-width: 991px) {
    .div-22 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-23 {
    font-family: PT Mono, sans-serif;
    letter-spacing: 1.6px;
    text-transform: uppercase;
  }
  .div-24 {
    margin-top: 11px;
    font: 16px PT Mono, sans-serif;
  }
  .div-25 {
    font-family: PT Mono, sans-serif;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-top: 37px;
  }
  .div-26 {
    margin-top: 11px;
    font: 16px PT Mono, sans-serif;
  }
  .div-27 {
    color: #212529;
    margin-top: 50px;
    font: 400 16px/26px PT Mono, sans-serif;
  }
  @media (max-width: 991px) {
    .div-27 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-28 {
    color: #212529;
    margin-top: 11px;
    font: 400 16px/26px PT Mono, sans-serif;
  }
  @media (max-width: 991px) {
    .div-28 {
      max-width: 100%;
    }
  }
  .div-29 {
    align-self: center;
    display: flex;
    margin-top: 120px;
    width: 1055px;
    max-width: 100%;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    font-size: 16px;
    color: #777;
    font-weight: 400;
    line-height: 160%;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-29 {
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .div-30 {
    display: flex;
    flex-basis: 0%;
    flex-direction: column;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-30 {
      white-space: initial;
    }
  }
  .div-31 {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    line-height: 120%;
  }
  .div-32 {
    font-family: PT Mono, sans-serif;
    margin-top: 40px;
  }
  @media (max-width: 991px) {
    .div-32 {
      white-space: initial;
    }
  }
  .div-33 {
    font-family: PT Mono, sans-serif;
    margin-top: 24px;
  }
  .div-34 {
    font-family: PT Mono, sans-serif;
    margin-top: 24px;
  }
  .div-35 {
    font-family: PT Mono, sans-serif;
    margin-top: 25px;
  }
  .div-36 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-36 {
      white-space: initial;
    }
  }
  .div-37 {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    line-height: 120%;
  }
  .div-38 {
    font-family: PT Mono, sans-serif;
    margin-top: 37px;
  }
  @media (max-width: 991px) {
    .div-38 {
      white-space: initial;
    }
  }
  .div-39 {
    font-family: PT Mono, sans-serif;
    margin-top: 21px;
  }
  @media (max-width: 991px) {
    .div-39 {
      white-space: initial;
    }
  }
  .div-40 {
    font-family: PT Mono, sans-serif;
    margin-top: 21px;
  }
  @media (max-width: 991px) {
    .div-40 {
      white-space: initial;
    }
  }
  .div-41 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .div-42 {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    line-height: 120%;
  }
  .div-43 {
    font-family: PT Mono, sans-serif;
    margin-top: 40px;
  }
  .div-44 {
    font-family: PT Mono, sans-serif;
    margin-top: 21px;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-44 {
      white-space: initial;
    }
  }
  .div-45 {
    font-family: PT Mono, sans-serif;
    margin-top: 24px;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-45 {
      white-space: initial;
    }
  }
  .div-46 {
    font-family: PT Mono, sans-serif;
    margin-top: 22px;
  }
  .div-47 {
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    color: #212529;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-47 {
      white-space: initial;
    }
  }
  .div-48 {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    line-height: 120%;
  }
  .div-49 {
    font-family: PT Mono, sans-serif;
    margin-top: 40px;
  }
  @media (max-width: 991px) {
    .div-49 {
      white-space: initial;
    }
  }
  .div-50 {
    font-family: PT Mono, sans-serif;
    margin-top: 27px;
  }
  .div-51 {
    font-family: PT Mono, sans-serif;
    margin-top: 24px;
  }
  .div-52 {
    font-family: PT Mono, sans-serif;
    margin-top: 25px;
  }
  .div-53 {
    background-color: #2b2b2b;
    display: flex;
    margin-top: 190px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    padding: 35px 60px;
  }
  @media (max-width: 991px) {
    .div-53 {
      max-width: 100%;
      margin-top: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-54 {
    display: flex;
    width: 204px;
    max-width: 100%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-54 {
      white-space: initial;
    }
  }
  .div-55 {
    display: flex;
    justify-content: space-between;
    gap: 9px;
    line-height: 100%;
  }
  @media (max-width: 991px) {
    .div-55 {
      white-space: initial;
    }
  }
  .div-56 {
    font-family: Font Awesome 5 Brands, -apple-system, Roboto, Helvetica,
      sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    border: 2px solid #fff;
    aspect-ratio: 1;
    height: 44px;
    padding: 0 17px;
  }
  @media (max-width: 991px) {
    .div-56 {
      white-space: initial;
    }
  }
  .div-57 {
    font-family: Font Awesome 5 Brands, -apple-system, Roboto, Helvetica,
      sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    border: 2px solid #fff;
    aspect-ratio: 1;
    height: 44px;
    padding: 0 14px;
  }
  @media (max-width: 991px) {
    .div-57 {
      white-space: initial;
    }
  }
  .div-58 {
    font-family: Font Awesome 5 Brands, -apple-system, Roboto, Helvetica,
      sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    border: 2px solid #fff;
    aspect-ratio: 1;
    height: 44px;
    padding: 0 15px;
  }
  @media (max-width: 991px) {
    .div-58 {
      white-space: initial;
    }
  }
  .div-59 {
    font-family: Font Awesome 5 Brands, -apple-system, Roboto, Helvetica,
      sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    border: 2px solid #fff;
    aspect-ratio: 1;
    height: 44px;
    padding: 0 15px;
  }
  @media (max-width: 991px) {
    .div-59 {
      white-space: initial;
    }
  }
  .div-60 {
    font-family: Quicksand, sans-serif;
    line-height: 140%;
    align-self: center;
    margin-top: 27px;
  }
  @media (max-width: 991px) {
    .div-60 {
      white-space: initial;
    }
  }
}